/* Connecting Fonts */
@import url("fonts.css");

/* Reset Styles */
@import url("reset.css");

/* Navigation Styles */
.navigation {
	max-width: 1218px;
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid #DDD;
	padding: 20px;
}

.navigation li {
	display: inline-block;
	margin-right: 20px;
}

.navigation a {
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	color: #333;
	text-transform: uppercase;
}

/* Licencing Styles */
.licencing {
	max-width: 1238px;
	margin: 0 auto;
	padding: 150px 10px 50px;
}

.licencing-header {
	margin-bottom: 70px;
	text-align: center;
	font-size: 0;
}

.square {
	display: inline-block;
}

span.square {
	border: 6px solid #40DDB6;
	margin-right: 5px;
}

.licencing h1,
.licencing h2,
.licencing h3,
.licencing h4 {
	color: #37393F;
}

.licencing h1,
.licencing h2,
.licencing h3 {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	line-height: 1.21;
}

.licencing h1 {
	font-size: 60px;
}

.licencing h2 {
	font-size: 40px;
	margin-bottom: 11px;
}

.licencing h3 {
	font-size: 30px;
	margin-bottom: 8px;
}

.licencing h4 {
	font-weight: 500;
	text-transform: capitalize;
	margin-bottom: 16px;
}

.licencing h4,
.licencing-text {
	font-family: "Inter", sans-serif;
	font-size: 18px;
}

.licencing-text {
	margin-bottom: 100px;
	line-height: 1.46;
	color: #7D7D7D;
}

.licencing-text p {
	margin-bottom: 24px;
}

.licencing-text.icons-graphics p {
	margin-bottom: 32px;
}

.licencing-text ul {
	margin-bottom: 24px;
}

.licencing-text li {
	display: inline-block;
}

.licencing-text a {
	color: #40DDB6;
}

.regular-link {
	font-weight: 400;
}

.medium-link {
	font-weight: 500;
}

/* Project Styles */
.project {
	max-width: 850px;
	margin: 0 auto;
	padding: 50px 10px;
}

.project h2 {
	font-family: "Poppins", sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.27;
	color: #37393F;
	text-transform: capitalize;
	margin-bottom: 13px;
}

.project p,
.project li {
	font-family: "Inter", sans-serif;
	font-size: 18px;
	line-height: 1.46;
	color: #7D7D7D;
}

.project p,
.project ul,
.project ol {
	margin-bottom: 35px;
}

.project li {
	font-weight: 500;
	margin-bottom: 33px;
}

/* Clothing Styles */
.clothing {
	max-width: 1260px;
	margin: 0 auto;
	padding: 50px 10px;
}

.clothing-header {
	margin-bottom: 30px;
	font-size: 0;
}

.decoration,
.clothing-header-title {
	display: inline-block;
	vertical-align: top;
}

.decoration {
	width: 6px;
	height: 28px;
	background-color: #8A33FD;
	border-radius: 10px;
	margin-right: 15px;
}

.clothing-text {
	padding: 0 20px;
}

.clothing h2,
.clothing h3,
.clothing-link {
	font-family: "Core Sans C", sans-serif;
	font-weight: 700;
}

.clothing h2 {
	font-size: 28px;
	line-height: 1.2;
	color: #3C4242;
	letter-spacing: 0.5px;
}

.clothing h3,
.clothing-link,
.clothing-text p {
	font-size: 20px;
	line-height: 1.67;
	color: #807D7E;
	letter-spacing: 0.4px;
	margin-bottom: 25px;
}

.clothing-text p {
	font-family: "Causten", sans-serif;
	margin-bottom: 20px;
}

.clothing-text span {
	font-weight: 700;
}

/* Jewels Styles */
.jewels {
	max-width: 1123px;
	margin: 0 auto;
	padding: 50px 10px;
	font-size: 0;
}

.jewels-content,
.jewels-left-image,
.jewels-right-image {
	display: inline-block;
	vertical-align: middle;
}

.jewels-content {
	max-width: 503px;
	padding: 70px 0;
	margin-right: 80px;
}

.jewels-content h3,
.jewels-content h2,
.jewels-content p {
	font-family: "Cormorant Infant", serif;
	font-weight: 700;
}

.jewels-content h3 {
	font-size: 20px;
	color: #D58417;
	text-transform: uppercase;
	margin-bottom: 27px;
}

.jewels-content h2 {
	font-size: 64px;
	color: #000;
	text-transform: capitalize;
	margin-bottom: 31px;
}

.jewels-content p {
	font-size: 30px;
	line-height: 1.4;
	color: #606060;
}

.jewels-left-image,
.jewels-right-image {
	border: 1px solid #502203;
	border-radius: 235px;
}

.jewels-left-image {
	max-width: 187px;
	margin-right: 30px;
	padding: 10px 10px 0 0;
}

.jewels-left-image img {
	margin: 0 0 -14px -10px;
}

.jewels-right-image {
	max-width: 317px;
	padding: 19px 11px 0 0;
}

.jewels-right-image img {
	margin: 0 0 -19px -10px;
}

/* Practice Styles */
.practice {
	max-width: 1000px;
	margin: 0 auto;
}

.block-1,
.block-2,
.block-3,
.block-4,
.block-5 {
	margin-bottom: 50px;
}

.block-1 {
	border: 5px solid #40DDB6;
	border-radius: 10px;
	min-height: 100px;
}

.block-2 {
	border: 10px dotted #D58417;
	background-color: #05308b;
	opacity: 0.5;
	min-height: 50px;
}

.block-3 {
	border: 20px double #8A33FD;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	box-shadow: 5px 10px 10px 5px #ffe600;
}

.block-4 {
	outline: 30px solid #33fd66;
}

.block-5 {
	min-height: 75px;
	visibility: hidden;
}

.block-6 {
	display: none;
}

/* Footer Styles */
footer {
	text-align: center;
	padding: 20px 0;
}

footer p {
	font-family: "Poppins", sans-serif;
	font-size: 12px;
	color: #333;
}