/* Connecting Fonts */
@import url("fonts.css");

/* Reset Styles */
@import url("reset.css");

/* Header Styles */
header {
	margin-bottom: 50px;
}

.navigation {
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}

.navigation li {
	display: inline-block;
	margin-right: 20px;
}

.navigation a {
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 600;
	color: #333333;
	text-transform: uppercase;
}

.navigation li:nth-child(even) a {
	color: #6B77E5;
}

.navigation li:nth-child(even) a:hover {
	color: #40DDB6;
}

.navigation li:nth-child(odd) a {
	color: #40DDB6;
}

.navigation li:nth-child(odd) a:hover {
	color: #6B77E5;
}

/* Why Us Styles */
.why-us {
	max-width: 722px;
	margin: 0 auto 50px;
	padding: 0 15px 45px;
}

.why-us-content {
	margin-bottom: 40px;
}

.why-us-content > *:last-child,
.why-us > *:last-child {
	margin-bottom: 0px;
}

.why-us-content img {
	margin-bottom: 37px;
	width: 100%;
}

.why-us-title,
.why-us-subtitle,
.benefits-content h3 {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	line-height: 1.27;
}

.why-us-title {
	font-size: 30px;
	color: #37393F;
	text-transform: capitalize;
	margin-bottom: 15px;
}

.why-us-subtitle {
	font-size: 20px;
	margin-bottom: 19px;
}

.why-us p,
.benefits-items {
	font-family: "Inter", sans-serif;
	font-size: 18px;
	line-height: 1.46;
	color: #7D7D7D;
}

.why-us p {
	margin-bottom: 38px;
}

.violet {
	color: #6B77E5;
}

.mint {
	color: #40DDB6;
}

.benefits {
	font-size: 0;
	margin-bottom: 50px;
}

.benefits-img {
	max-width: 331px;
}

.benefits-img img {
	width: 100%;
}

.benefits-content {
	max-width: 361px;
	padding-left: 30px;
}

.benefits-content > * {
	margin-bottom: 19px;
}

.benefits-img,
.benefits-content {
	display: inline-block;
	vertical-align: top;
}

.benefits-content h3 {
	font-size: 25px;
	color: #37393F;
	margin-bottom: 16px;
}

.benefits-items li {
	margin-bottom: 26px;
}

.benefits-items li:last-of-type {
	margin-bottom: 0;
}

.benefits-content > *:last-child {
	margin-bottom: 0;
}

.benefits-items li::before {
	content: "";
	display: inline-block;
	background: url("../img/points.png") 0 0 / 27px 28px no-repeat;
	width: 27px;
	height: 28px;
	border-radius: 50%;
	margin: 0 8px -5px 0;
}

/* Care Styles */
.care {
	max-width: 705px;
	margin: 0 auto 50px;
	padding: 0 15px 40px;
}

.care-subtitle,
.care-title {
	color: #37393F;
	text-transform: capitalize;
}

.care-subtitle,
.care p,
.care-link {
	font-family: "Inter", sans-serif;
	font-size: 18px;
}

.care-text > * {
	margin-bottom: 16px;
}

.care-subtitle {
	font-weight: 500;
	display: inline-block;
}

.care-subtitle::before {
	content: "";
	display: inline-block;
	background-color: #40DDB6;
	height: 12px;
	width: 12px;
	margin-right: 6px;
}

.care-title {
	font-family: "Poppins", sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.21;
	max-width: 414px;
	margin-bottom: 10px;
}

.care p {
	line-height: 1.46;
	color: #7D7D7D;
}

.care-text p {
	margin-bottom: 27px;
}

.care-text > *:last-child {
	margin-bottom: 0;
}

.care > * {
	margin-bottom: 45px;
}

.care-list {
	margin-bottom: 48px;
}

.care-list li:not(:last-child) {
	margin-bottom: 26px;
}

.care-list-item {
	padding: 28px 41px 28px 82px;
	border: 1px solid #E3E3E3;
}

.care-list-item > *:not(:last-child) {
	margin-bottom: 17px;
}

.care-list-item h3 {
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 600;
	color: #37393F;
	text-transform: capitalize;
}

.care-list-item h3::before {
	content: "";
	display: inline-block;
	background: url("../img/points.png") 0 0 / 27px 28px no-repeat;
	width: 27px;
	height: 28px;
	border-radius: 50%;
	margin: 0 20px -5px -45px;
}

.care-link {
	display: inline-block;
	padding: 22px 35px;
	background-color: #6B77E5;
	color: #ffffff;
	font-weight: 600;
	text-transform: capitalize;
}

.care-link:hover {
	background-color: #40DDB6;
}

.care > *:last-child {
	margin-bottom: 0;
}

/* Work Styles */
.work {
	max-width: 1250px;
	margin: 0 auto 50px;
	padding: 0 15px 50px;
}

.work > *:not(:last-child) {
	margin-bottom: 41px;
}

.work-header {
	text-align: center;
}

.care-title.work-title {
	max-width: 100%;
	margin-bottom: 0;
}

.work-header > *:not(:last-child) {
	margin-bottom: 16px;
}

.work-cards {
	font-size: 0;
}

.work-card {
	display: inline-block;
	vertical-align: top;
	max-width: 386px;
	text-align: center;
}

.work-cards .work-card:not(:nth-child(3n)) {
	margin-right: 31px;
}

.appointment::before,
.consultation::before,
.service::before {
	content: "";
	display: inline-block;
	width: 72px;
	height: 72px;
	border-radius: 50%;
	margin-bottom: -36px;
}

.appointment::before {
	background: #40DDB6 url("../img/appointment.png") 50% / 44px 44px no-repeat;
}

.consultation::before {
	background: #40DDB6 url("../img/consultation.png") 50% / 44px 44px no-repeat;
}

.service::before {
	background: #40DDB6 url("../img/service.png") 50% / 44px 44px no-repeat;
}

.appointment:hover::before,
.consultation:hover::before,
.service:hover::before {
	background-color: #6B77E5;
}

.work-content {
	background-color: #F4F4F4;
	padding: 58px 43px;
}

.work-content > * {
	margin-bottom: 39px;
}

.work-content h3 {
	font-family: "Poppins", sans-serif;
	font-size: 25px;
	font-weight: 600;
	line-height: 1.27;
	color: #37393F;
	margin-bottom: 18px;
}

.work-content p,
.work-content a {
	font-family: "Inter", sans-serif;
	font-size: 18px;
}

.work-content p {
	line-height: 1.46;
	color: #7D7D7D;
}

.work-content a {
	display: inline-block;
	font-weight: 600;
	color: #6B77E5;
}

.work-content a:hover {
	text-decoration: underline;
}

.work-content > *:last-child {
	margin-bottom: 0;
}

/* Jewellery Styles */
.jewellery {
	max-width: 1244px;
	margin: 0 auto 50px;
	padding: 0 15px 40px;
	font-size: 0;
}

.jewellery-content,
.jewellery-first-image,
.jewellery-second-image {
	display: inline-block;
	vertical-align: top;
}

.jewellery-content {
	max-width: 460px;
	margin-right: 21px;
	padding-top: 150px;
}

.jewellery-content > *:not(:last-child),
.jewellery-first-image > *:not(:last-child),
.jewellery-second-image > *:not(:last-child) {
	margin-bottom: 31px;
}

.jewellery-link > *:last-child {
	margin-bottom: 0;
}

.jewellery-content h2,
.jewellery-title,
.jewellery-price,
.jewellery-second-image h3 {
	font-family: "Cormorant Infant", serif;
	font-weight: 700;
	color: #000000;
}

.jewellery-content h2 {
	font-size: 60px;
	line-height: 1.15;
	text-transform: capitalize;
}

.jewellery-content h2::after {
	content: "";
	display: block;
	width: 291px;
	height: 3px;
	background-color: #78473B;
	margin-top: 10px;
}

.jewellery-first-image {
	margin-right: 45px;
	padding-top: 32px;
}

.jewellery-first-image,
.jewellery-second-image {
	max-width: 344px;
	width: 100%;
}

.jewellery-image-box {
	width: 334px;
	border: 1px solid #000000;
	padding-top: 8px;
	margin-bottom: 34px;
}

.jewellery-image-box img {
	width: 100%;
	margin: 0 0 -9px 10px;
}

.jewellery-title,
.jewellery-price {
	font-size: 24px;
	line-height: 1.4;
}

.jewellery-title {
	margin-bottom: 4px;
}

.jewellery-second-image h3 {
	font-size: 46px;
	line-height: 1.13;
}

.jewellery-first-image a,
.jewellery-second-image a {
	display: inline-block;
}

.jewellery-first-image a:hover .jewellery-title,
.jewellery-second-image a:hover .jewellery-title {
	text-decoration: underline;
}

/* Practice Styles */
.practice {
	max-width: 1000px;
	margin: 0 auto 50px;
	padding: 0 15px 50px;
}

.practice > *:not(:last-child),
.practice-links > *:not(:last-child),
.childs > *:not(:last-child),
.game > *:not(:last-child) {
	margin-bottom: 20px;
}

.practice-title,
.practice a {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.practice-title {
	font-size: 30px;
}

.practice a {
	display: block;
	max-width: 300px;
	padding: 10px 30px;
	background-color: #000000;
	border-radius: 10px;
	margin: 0 auto;
	font-size: 20px;
	color: #ffffff;
}

.link-hover:hover {
	color: #6B77E5;
}

.link-active:active {
	color: #40DDB6;
}

.link-visited:visited {
	color: #7D7D7D;
}

.link-focus:focus {
	border: 3px solid #ff0000;
}

.link-target {
	visibility: hidden;
}

.link-target:target {
	visibility: visible;
}

.childs {
	text-align: center;
}

.first-child > *:not(:last-child),
.last-child > *:not(:last-child),
.nth-child > *:not(:last-child),
.nth-child-3n > *:not(:last-child),
.before-after > *:not(:last-child) {
	margin-right: 20px;
}

.first-child div,
.last-child div,
.nth-child div,
.nth-child-3n div,
.before-after div {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #40DDB6;
	border-radius: 50%;
}

.first-child div:first-child,
.last-child div:last-child,
.nth-child div:nth-child(odd),
.nth-child-3n div:nth-child(3n + 1),
.before-after:hover::before,
.before-after:hover::after {
	background-color: #6B77E5;
}

.before-after::before,
.before-after::after {
	content: "";
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #000000;
	border-radius: 50%;
}

.before-after::before {
	margin-right: 20px;
}

.before-after::after {
	margin-left: 20px;
}

/* Game Styles */
.game {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 15px 50px;
}

.game-bg {
	padding: 20px;
	background-color: #000000;
	border-radius: 10px;
}

.start {
	width: 50px;
	height: 50px;
	background-color: #ffffff;
}

[class*="line"] {
	background-color: #ffffff;
	visibility: hidden;
}

.line-01 {
	width: 50px;
	height: 100px;
}

.line-02 {
	width: 100%;
	height: 50px;
}

.line-03 {
	width: 50px;
	height: 100px;
	margin-left: auto;
}

.line-04 {
	width: 100%;
	height: 30px;
}

.line-05 {
	width: 20px;
	height: 50px;
}

.line-06 {
	width: 100%;
	height: 10px;
}

.line-07 {
	width: 10px;
	height: 50px;
	margin-left: auto;
}

.finish {
	width: 10px;
	height: 10px;
	background-color: #ff0000;
	visibility: hidden;
	margin-left: auto;
}

.start:hover + .game-line,
.game-line:hover,
.game-line:hover + .game-line {
  visibility: visible;
}

/* Footer Styles */
footer {
	padding: 10px 15px;
	text-align: center;
	font-family: "Poppins", sans-serif;
	font-size: 12px;
	font-weight: 600;
	color: #333333;
}