/* Connecting Fonts */
@import url("fonts.css");

/* Reset Styles */
@import url("reset.css");

/* Header Styles */
header {
	margin-bottom: 50px;
}

.navigation {
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}

.navigation li {
	display: inline-block;
	margin-right: 20px;
}

.navigation a {
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 600;
	color: #333333;
	text-transform: uppercase;
}

.navigation li:nth-child(even) a {
	color: #6B77E5;
}

.navigation li:nth-child(even) a:hover {
	color: #40DDB6;
}

.navigation li:nth-child(odd) a {
	color: #40DDB6;
}

.navigation li:nth-child(odd) a:hover {
	color: #6B77E5;
}

/* Why Us Styles */
.why-us {
	max-width: 722px;
	margin: 0 auto 50px;
	padding: 0 15px 45px;
}

.why-us-content {
	margin-bottom: 40px;
}

.why-us-content > *:last-child,
.why-us > *:last-child {
	margin-bottom: 0px;
}

.why-us-content img {
	margin-bottom: 37px;
	width: 100%;
}

.why-us-title,
.why-us-subtitle,
.benefits-content h3 {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	line-height: 1.27;
}

.why-us-title {
	font-size: 30px;
	color: #37393F;
	text-transform: capitalize;
	margin-bottom: 15px;
}

.why-us-subtitle {
	font-size: 20px;
	margin-bottom: 19px;
}

.why-us p,
.benefits-items {
	font-family: "Inter", sans-serif;
	font-size: 18px;
	line-height: 1.46;
	color: #7D7D7D;
}

.why-us p {
	margin-bottom: 38px;
}

.violet {
	color: #6B77E5;
}

.mint {
	color: #40DDB6;
}

.benefits {
	font-size: 0;
	margin-bottom: 50px;
}

.benefits-img {
	max-width: 331px;
}

.benefits-img img {
	width: 100%;
}

.benefits-content {
	max-width: 361px;
	padding-left: 30px;
}

.benefits-content > * {
	margin-bottom: 19px;
}

.benefits-img,
.benefits-content {
	display: inline-block;
	vertical-align: top;
}

.benefits-content h3 {
	font-size: 25px;
	color: #37393F;
	margin-bottom: 16px;
}

.benefits-items li {
	margin-bottom: 26px;
}

.benefits-items li:last-of-type {
	margin-bottom: 0;
}

.benefits-content > *:last-child {
	margin-bottom: 0;
}

.benefits-items li::before {
	content: "";
	display: inline-block;
	background: url("../img/points.png") 0 0 / 27px 28px no-repeat;
	width: 27px;
	height: 28px;
	border-radius: 50%;
	margin: 0 8px -5px 0;
}

/* Care Styles */
.care {
	max-width: 705px;
	margin: 0 auto 50px;
	padding: 0 15px 40px;
}

.care-subtitle,
.care-title {
	color: #37393F;
	text-transform: capitalize;
}

.care-subtitle,
.care p,
.care-link {
	font-family: "Inter", sans-serif;
	font-size: 18px;
}

.care-text > * {
	margin-bottom: 16px;
}

.care-subtitle {
	font-weight: 500;
	display: inline-block;
}

.care-subtitle::before {
	content: "";
	display: inline-block;
	background: url("../img/rectangle.png") 0 0 / 12px 12px no-repeat;
	height: 12px;
	width: 12px;
	margin-right: 6px;
}

.care-title {
	font-family: "Poppins", sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.21;
	max-width: 414px;
	margin-bottom: 10px;
}

.care p {
	line-height: 1.46;
	color: #7D7D7D;
}

.care-text p {
	margin-bottom: 27px;
}

.care-text > *:last-child {
	margin-bottom: 0;
}

.care > * {
	margin-bottom: 45px;
}

.care-list {
	margin-bottom: 48px;
}

.care-list li:not(:last-child) {
	margin-bottom: 26px;
}

.care-list-item {
	padding: 28px 41px 28px 82px;
	border: 1px solid #E3E3E3;
}

.care-list-item > *:not(:last-child) {
	margin-bottom: 17px;
}

.care-list-item h3 {
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 600;
	color: #37393F;
	text-transform: capitalize;
}

.care-list-item h3::before {
	content: "";
	display: inline-block;
	background: url("../img/points.png") 0 0 / 27px 28px no-repeat;
	width: 27px;
	height: 28px;
	border-radius: 50%;
	margin: 0 20px -5px -45px;
}

.care-link {
	display: inline-block;
	padding: 22px 35px;
	background-color: #6B77E5;
	color: #ffffff;
	font-weight: 600;
	text-transform: capitalize;
}

.care-link:hover {
	background-color: #40DDB6;
}

.care > *:last-child {
	margin-bottom: 0;
}

/* Work Styles */
.work {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px 50px;
}

.work > *:not(:last-child) {
	margin-bottom: 41px;
}

.work-header {
	text-align: center;
}

.care-title.work-title {
	max-width: 100%;
	margin-bottom: 0;
}

.work-header > *:not(:last-child) {
	margin-bottom: 16px;
}

.work-cards {
	font-size: 0;
}

.work-card {
	display: inline-block;
	vertical-align: top;
	max-width: 386px;
	text-align: center;
}

.work-cards .work-card:not(:nth-child(3n)) {
	margin-right: 31px;
}

.appointment::before,
.consultation::before,
.service::before {
	content: "";
	display: inline-block;
	width: 72px;
	height: 72px;
	border-radius: 50%;
	margin-bottom: -36px;
}

.appointment::before {
	background: #40DDB6 url("../img/appointment.png") 50% / 44px 44px no-repeat;
}

.consultation::before {
	background: #40DDB6 url("../img/consultation.png") 50% / 44px 44px no-repeat;
}

.service::before {
	background: #40DDB6 url("../img/service.png") 50% / 44px 44px no-repeat;
}

.appointment:hover::before,
.consultation:hover::before,
.service:hover::before {
	background-color: #6B77E5;
}

.work-content {
	background-color: #F4F4F4;
	padding: 58px 43px;
}

.work-content > * {
	margin-bottom: 39px;
}

.work-content h3 {
	font-family: "Poppins", sans-serif;
	font-size: 25px;
	font-weight: 600;
	line-height: 1.27;
	color: #37393F;
	margin-bottom: 18px;
}

.work-content p,
.work-content a {
	font-family: "Inter", sans-serif;
	font-size: 18px;
}

.work-content p {
	line-height: 1.46;
	color: #7D7D7D;
}

.work-content a {
	display: inline-block;
	font-weight: 600;
	color: #6B77E5;
}

.work-content a:hover {
	text-decoration: underline;
}

.work-content > *:last-child {
	margin-bottom: 0;
}