/* Connecting Fonts */
@import url("fonts.css");

/* Reset Styles */
@import url("reset.css");

/* Body Styles */
body {
	background-color: #37393F;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	color: #ffffff;
}

/* Header Styles */
header {
	max-width: 1100px;
	margin: 0 auto 50px;
	text-align: center;
	padding: 20px;
}

header h1 {
	font-size: 30px;
	text-transform: uppercase;
}

/* Main Styles */
main {
	max-width: 1100px;
	margin: 0 auto 50px;
	padding: 0 15px;
}

main h2 {
	font-size: 25px;
}

main h2:not(:last-child) {
	margin-bottom: 20px;
}

main div:not(:last-child) {
	margin-bottom: 50px;
}

main img {
	max-width: 100%;
}

.icons img,
.design-elements img,
.logos img {
	vertical-align: middle;
}

.icons > *:not(:last-child),
.design-elements > *:not(:last-child) {
	margin-right: 10px;
}

.logos {
	background-color: #F5F5F5;
	padding: 20px;
	border-radius: 20px;
}

.logos h2 {
	color: #37393F;
}

.logos > *:not(:last-child) {
	margin-right: 20px;
}

.content img {
	border-radius: 20px;
}

.content > *:not(:last-child) {
	margin-bottom: 20px;
}

/* Footer Styles */
footer {
	padding: 10px;
	text-align: center;
	font-size: 10px;
}